h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: black;
}
h1 {
  font-weight: 900px;
}
.container {
  color: black;
  max-width: 700px;
  margin: 30px auto 0 auto;
  padding: 15px 30px;
  border: solid;
  border-radius: 15px;
  border-color: white;
  background-image: url("rain.jpg");
  background-size: cover;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

form {
  padding: 10px 0px;
}
.detail-forecast {
  padding: 10px 20px;
}
.temperature {
  text-decoration: none;
  color: white;
}
.form-control {
  border-color: #fdffcd;
}
.btn-primary {
  color: rgb(7, 91, 173);
  background-color: white;
  border-color: #fdffcd;
}
.btn-primary:hover {
  color: rgb(7, 91, 173);
  background-color: #bbe4e9;
  opacity: 90%;
  border-color: rgb(59, 149, 237);
}
.fa-search-location {
  font-size: 20px;
  color: white;
}
#main-icon {
  width: 78px;
  position: relative;
  top: 18px;
  float: left;
}
a {
  text-decoration: none;
}
.forecast-heading {
  text-align: left;
}

.forecast-temperature {
  font-size: 20px;
}

.weather-temperature .active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.icon-forecast {
  color: white;
  font-size: 40px;
  line-height: 48px;
}
#selected-city {
  text-transform: capitalize;
}

.git-link {
  font-size: 12px;
  max-width: 700px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
#github-link {
  text-decoration: underline;
}
.units {
  font-size: 24px;
  position: relative;
  top: -8px;
}

#forecast-description::first-letter {
  text-transform: capitalize;
}
#forecast-description {
  font-weight: 600;
  font-size: 18px;
}
