h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  color: white;
}
h1 {
  font-weight: 900px;
}
.container {
  color: white;
  max-width: 700px;
  margin: 30px auto 0 auto;
  padding: 15px 30px;
  border: solid;
  border-radius: 15px;
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border-color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
form {
  padding: 10px 0px;
}
.temperature {
  text-decoration: none;
  color: white;
}
.form-control {
  border-color: #fdffcd;
}
.btn-primary {
  color: rgb(7, 91, 173);
  background-color: white;
  border-color: #fdffcd;
}
.btn-primary:hover {
  color: rgb(7, 91, 173);
  background-color: #bbe4e9;
  opacity: 90%;
  border-color: rgb(59, 149, 237);
}
.fa-search-location {
  font-size: 20px;
  color: white;
}
#main-icon {
  width: 90px;
  position: relative;
  top: 30px;
}
.icon-forecast {
  color: white;
  font-size: 40px;
  line-height: 48px;
}
#selected-city {
  text-transform: capitalize;
}

.link {
  font-size: 14px;
  max-width: 700px;
  margin: 0 auto;
}
.units {
  font-size: 20px;
  position: relative;
  top: -14px;
}

#forecast-description::first-letter {
  text-transform: capitalize;
}
